{% if section.settings.select_fts == "footer_v4" %}
{% if template contains 'index' %}
<footer class="footer_v4" style="background-color : {{section.settings.ft_home_bg_footer}}">
  <div class="phone-social-footer">
    <div class="container container-v1 ">    
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="phone-icon">
            <div class="icon">
              {{settings.iconsvg_fv4_1}}
            </div>
            <div class="text">
              <h4>{{settings.titlephone_fv4_1}}</h4>
              <div class="sub">{{settings.phone_fv4_1}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-icon">
            {% if settings.icon_sc_fv3_1 !=blank %}
            <a href="{{settings.url_sc_fv3_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_1}}"></i></a>
            {% endif %}
            {% if settings.icon_sc_fv3_2 !=blank %}
            <a href="{{settings.url_sc_fv2_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_2}}"></i></a>
            {% endif %}
            {% if settings.icon_sc_fv3_3 !=blank %}
            <a href="{{settings.url_sc_fv2_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_3}}"></i></a>
            {% endif %}
            {% if settings.icon_sc_fv3_4 !=blank %}
            <a href="{{settings.url_sc_fv2_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_4}}"></i></a>
            {% endif %}         
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-footer">
    <div class="container container-v1 ">    
      <div class="row">
        <div class="col-lg-3 col-md-6 col-menu">
          <div class="info_footer">
            <div class="title_footer">          
              <h4>{{settings.titlecolum_fv4_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-menu">
          <div class="info_footer">
            <div class="title_footer">          
              <h4>{{settings.titlecolum_fv4_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-menu">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4>{{settings.titlecolum_fv4_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4>{{settings.titlecolum_fv4_4}}</h4>         
            </div>
            <div class="content_footer">
              {% if settings.content_colum_fv4_5_1 != blank %}
              {{settings.content_colum_fv4_5_1}}
              {% else %}
              <ul class="list-unstyled mb-0">
                <li class="address"><strong>Address :</strong><span> MOMO drycker AB,Boplatsvägen 4 lgh 1305 <br>174 4, 554, 631 Sundbyberg,</span></li>
                <li class="clock"><strong>Open Hours :</strong><br><span>Monday – Saturday: 8:00 am – 4:00pm<br>Sunday: Close</span></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv4_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %} text-md-right {% else %} text-md-left{% endif %} text-center">
          {% if settings.fv4_bottom_payment_img != blank %}
          <img src="{{settings.fv4_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//via.placeholder.com/310x32"  alt="">
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %}text-md-left {% else %}text-md-right {% endif %}text-center">
          {% if settings.fv4_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv4_bottom_copyright}}</p>
          {% else %}
          <p>© Copyright 2022 | <a href="https://shopilaunch.com/" rel="nofollow" target="_blank" class="underline_hover bold">  Mikadu </a> By <a href="https://shopilaunch.com/" rel="nofollow" target="_blank" class="underline_hover"> ShopiLaunch.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</footer>
<style>
  .footer_v4 .top-footer .title_footer h4{
    color : {{section.settings.ft_home_color_heading}};
  }
  .footer_v4 .top-footer .col-menu ul li a{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v4 .top-footer .info_footer .content_footer{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v4 .copyright p{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v4 .copyright p a{
    color : {{section.settings.ft_home_color_text}};
  }
</style>
{% endif %}
{% endif %}

{% if section.settings.select_fts_all == "footer_ver4" %}
{% unless template contains 'index' %}
<footer class="footer_v4" style="background-color : {{section.settings.ft_other_bg_footer}}">
  <div class="phone-social-footer">
    <div class="container container-v1 ">    
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="phone-icon">
            <div class="icon">
              {{settings.iconsvg_fv4_1}}
            </div>
            <div class="text">
              <h4>{{settings.titlephone_fv4_1}}</h4>
              <div class="sub">{{settings.phone_fv4_1}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-icon">
            {% if settings.icon_sc_fv3_1 !=blank %}
            <a href="{{settings.url_sc_fv3_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_1}}"></i></a>
            {% endif %}
            {% if settings.icon_sc_fv3_2 !=blank %}
            <a href="{{settings.url_sc_fv2_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_2}}"></i></a>
            {% endif %}
            {% if settings.icon_sc_fv3_3 !=blank %}
            <a href="{{settings.url_sc_fv2_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_3}}"></i></a>
            {% endif %}
            {% if settings.icon_sc_fv3_4 !=blank %}
            <a href="{{settings.url_sc_fv2_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv3_4}}"></i></a>
            {% endif %}         
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-footer">
    <div class="container container-v1 ">    
      <div class="row">
        <div class="col-lg-3 col-md-6 col-menu">
          <div class="info_footer">
            <div class="title_footer">          
              <h4>{{settings.titlecolum_fv4_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-menu">
          <div class="info_footer">
            <div class="title_footer">          
              <h4>{{settings.titlecolum_fv4_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-menu">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4>{{settings.titlecolum_fv4_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4>{{settings.titlecolum_fv4_4}}</h4>         
            </div>
            <div class="content_footer">
              {% if settings.content_colum_fv4_5_1 != blank %}
              {{settings.content_colum_fv4_5_1}}
              {% else %}
              <ul class="list-unstyled mb-0">
                <li class="address"><strong>Address :</strong><span> MOMO drycker AB,Boplatsvägen 4 lgh 1305 <br>174 4, 554, 631 Sundbyberg,</span></li>
                <li class="clock"><strong>Open Hours :</strong><br><span>Monday – Saturday: 8:00 am – 4:00pm<br>Sunday: Close</span></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv4_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %} text-md-right {% else %} text-md-left{% endif %} text-center">
          {% if settings.fv4_bottom_payment_img != blank %}
          <img src="{{settings.fv4_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//via.placeholder.com/310x32"  alt="">
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %}text-md-left {% else %}text-md-right {% endif %}text-center">
          {% if settings.fv4_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv4_bottom_copyright}}</p>
          {% else %}
          <p>© Copyright 2022 | <a href="https://shopilaunch.com/" rel="nofollow" target="_blank" class="underline_hover bold">  Mikadu </a> By <a href="https://shopilaunch.com/" rel="nofollow" target="_blank" class="underline_hover"> ShopiLaunch.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</footer>
<style>
  .footer_v4 .top-footer .title_footer h4{
    color : {{section.settings.ft_other_color_heading}};
  }
  .footer_v4 .top-footer .col-menu ul li a{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v4 .top-footer .info_footer .content_footer{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v4 .copyright p{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v4 .copyright p a{
    color : {{section.settings.ft_other_color_text}};
  }
</style>
{% endunless %}
{% endif %}