{% if section.settings.select_hds == "header_v6" %}
{% if template contains 'index' %}
<header id="header" class="header-v6-h6 jsheader_sticky  d-none d-xl-block {% if section.settings.hd_home_enable_transparents %}header-absolute {% endif %}">
  {% if settings.enable_topbar_v6 %}
  <div id="bwp-topbar" class="topbar-v1" {% if settings.bg_topbar_v6 !=blank %}style="background :{{settings.bg_topbar_v6}}" {% endif %}>
    <div class="topbar-inner">
      <div class="container container-v1">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 topbar-left {% if settings.enable_rtl_mode %} text-lg-right {% else %}text-lg-left{% endif %}">
            <div class="list-icon">
              {% if settings.icon_sc_tb6_1 !=blank %}
              <a href="{{settings.url_sc_tb6_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_1}}"></i></a>
              {% endif %}
              {% if settings.icon_sc_tb6_2 !=blank %}
              <a href="{{settings.url_sc_tb6_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_2}}"></i></a>
              {% endif %}
              {% if settings.icon_sc_tb6_3 !=blank %}
              <a href="{{settings.url_sc_tb6_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_3}}"></i></a>
              {% endif %}
              {% if settings.icon_sc_tb6_4 !=blank %}
              <a href="{{settings.url_sc_tb6_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_4}}"></i></a>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 topbar-right {% if settings.enable_rtl_mode %}text-lg-left {% else %}text-lg-right{% endif %}">
            <div class="menu-currency-language">
              {% if settings.enable_currency_t6 %}
              <div class="menu-currency-wrap">
                {% include 'currency' %}
              </div>
              {% endif %}
              {% if settings.enable_multi_lang_t6 %}
              <div class="menu-language-wrap">
                {% include 'change-language' %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="header-wrapper js_height_hd">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="search-left">
            <a href="javascript:void(0)" class="search js-search-destop">
              {% if section.settings.hd_icon_search_svg != blank %}
              {{section.settings.hd_icon_search_svg}}
              {% else %}
              <i class="{{section.settings.hd_icon_search}}"></i>
              {% endif %}
            </a>
          </div>
        </div>
        <div class="col-lg-8 d-flex justify-content-center">
          <div class="menu">
            {% include 'eveland-menu' %}
          </div>
        </div>      
        <div class="col-lg-2 currencies-login">
          <div class="cart-login-search align-items-center"> 
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="{% if customer %}/account {% else %}javascript:void(0){% endif %}" class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">
                  {% if section.settings.hd_icon_login_svg != blank %}
                  {{section.settings.hd_icon_login_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_login}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{{section.section.settings.url_wishlist}}" class="">
                  {% if section.settings.hd_icon_wishlist_svg != blank %}
                  {{section.settings.hd_icon_wishlist_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_wishlist}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="cart js-call-minicart">
                  {% if section.settings.hd_icon_cart_svg != blank %}
                  {{section.settings.hd_icon_cart_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_cart}}"></i>
                  {% endif %}
                  <span class="count_pr_incart js-number-cart number-cart">{% if cart.item_count > 0 %} {{cart.item_count}} {% else %} 0 {% endif %}</span>
                </a>
              </li>
            </ul>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  
  {% if settings.enable_advertising_v6 %}
  <div class="header-advertising" {% if settings.bg_advertising_v6 !=blank %}style="background :{{settings.bg_advertising_v6}}" {% endif %}>
    <div class="container container-v1">
      <p class="mb-0 text-center" style="color :{{settings.cl_advertising_v6}}">{{settings.advertising_text_v6}}</p>
    </div>
  </div>
  {% endif %}
</header>

<script>
  jQuery(document).ready(function($) {
    
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }
    var r = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").r);
    var g = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").g);
    var b = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").b)
    {% if section.settings.hd_home_enable_transparents %}
    {% else %}                  
    $('.header-v6-h6').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
    {% endif %}
    
    {% if section.settings.enable_sticky_hd_home  %}
    function menudestopscroll6() {
      var $nav = $(".jsheader_sticky");
      $nav.removeClass('menu_scroll_v6');

      $(document).scroll(function() {

        $nav.toggleClass('menu_scroll_v6', $(this).scrollTop() > $nav.height());
        var r = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").r);
        var g = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").g);
        var b = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").b)
        $('.header-v6-h6.menu_scroll_v6').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
        {% if section.settings.hd_home_enable_transparents %}                    
        if($(this).scrollTop() < $nav.height()){
          $('.header-v6-h6').css({'background':'none'}); 
            $nav.removeClass('menu_scroll_v6')
        }
        {% endif %}                 
      });
    } 
    menudestopscroll6();
    {% endif %}
    
    
  });
</script>

<style>
  #header .currencies-login .cart-login-search ul li a i{
    color: {{section.settings.hd_home_color_text}};
  }  
  #header .menu ul li .nav-link{
    color: {{section.settings.hd_home_color_text}};
  }
  #header .topbar-v1 .list-icon a{
    color: {{settings.color_topbar_v6}};
  }
  .menu-language-wrap .title, .menu-currency-wrap .title{
    color: {{settings.color_topbar_v6}};
  }
</style>
{% endif %}
{% endif %}

{% if section.settings.select_hds_all == "header_ver6" %}
{% unless template contains 'index' %}
<header id="header" class="header-v6-h6 jsheader_sticky  d-none d-xl-block {% if section.settings.hd_other_enable_transparents %}header-absolute {% endif %}">
  {% if settings.enable_topbar_v6 %}
  <div id="bwp-topbar" class="topbar-v1" {% if settings.bg_topbar_v6 !=blank %}style="background :{{settings.bg_topbar_v6}}" {% endif %}>
    <div class="topbar-inner">
      <div class="container container-v1">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 topbar-left {% if settings.enable_rtl_mode %} text-lg-right {% else %}text-lg-left{% endif %}">
            <div class="list-icon">
              {% if settings.icon_sc_tb6_1 !=blank %}
              <a href="{{settings.url_sc_tb6_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_1}}"></i></a>
              {% endif %}
              {% if settings.icon_sc_tb6_2 !=blank %}
              <a href="{{settings.url_sc_tb6_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_2}}"></i></a>
              {% endif %}
              {% if settings.icon_sc_tb6_3 !=blank %}
              <a href="{{settings.url_sc_tb6_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_3}}"></i></a>
              {% endif %}
              {% if settings.icon_sc_tb6_4 !=blank %}
              <a href="{{settings.url_sc_tb6_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_tb6_4}}"></i></a>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 topbar-right {% if settings.enable_rtl_mode %}text-lg-left {% else %}text-lg-right{% endif %}">
            <div class="menu-currency-language">
              {% if settings.enable_currency_t6 %}
              <div class="menu-currency-wrap">
                {% include 'currency' %}
              </div>
              {% endif %}
              {% if settings.enable_multi_lang_t6 %}
              <div class="menu-language-wrap">
                {% include 'change-language' %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="header-wrapper js_height_hd">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="search-left">
            <a href="javascript:void(0)" class="search js-search-destop">
              {% if section.settings.hd_icon_search_svg != blank %}
              {{section.settings.hd_icon_search_svg}}
              {% else %}
              <i class="{{section.settings.hd_icon_search}}"></i>
              {% endif %}
            </a>
          </div>
        </div>
        <div class="col-lg-8 d-flex justify-content-center">
          <div class="menu">
            {% include 'eveland-menu' %}
          </div>
        </div>      
        <div class="col-lg-2 currencies-login">
          <div class="cart-login-search align-items-center"> 
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="{% if customer %}/account {% else %}javascript:void(0){% endif %}" class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">
                  {% if section.settings.hd_icon_login_svg != blank %}
                  {{section.settings.hd_icon_login_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_login}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{{section.section.settings.url_wishlist}}" class="">
                  {% if section.settings.hd_icon_wishlist_svg != blank %}
                  {{section.settings.hd_icon_wishlist_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_wishlist}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="cart js-call-minicart">
                  {% if section.settings.hd_icon_cart_svg != blank %}
                  {{section.settings.hd_icon_cart_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_cart}}"></i>
                  {% endif %}
                  <span class="count_pr_incart js-number-cart number-cart">{% if cart.item_count > 0 %} {{cart.item_count}} {% else %} 0 {% endif %}</span>
                </a>
              </li>
            </ul>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  
  {% if settings.enable_advertising_v6 %}
  <div class="header-advertising" {% if settings.bg_advertising_v6 !=blank %}style="background :{{settings.bg_advertising_v6}}" {% endif %}>
    <div class="container container-v1">
      <p class="mb-0 text-center" style="color :{{settings.cl_advertising_v6}}">{{settings.advertising_text_v6}}</p>
    </div>
  </div>
  {% endif %}
</header>

<script>
  jQuery(document).ready(function($) {
    
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }
    var r = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").r);
    var g = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").g);
    var b = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").b)
    {% if section.settings.hd_other_enable_transparents %}
    {% else %}                  
    $('.header-v6-h6').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
    {% endif %}
    
    {% if section.settings.enable_sticky_hd_other  %}
    function menudestopscroll6() {
      var $nav = $(".jsheader_sticky");
      $nav.removeClass('menu_scroll_v6');

      $(document).scroll(function() {

        $nav.toggleClass('menu_scroll_v6', $(this).scrollTop() > $nav.height());
        var r = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").r);
        var g = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").g);
        var b = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").b)
        $('.header-v6-h6.menu_scroll_v6').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
        {% if section.settings.hd_other_enable_transparents %}                    
        if($(this).scrollTop() < $nav.height()){
          $('.header-v6-h6').css({'background':'none'}); 
            $nav.removeClass('menu_scroll_v6')
        }
        {% endif %}                 
      });
    } 
    menudestopscroll6();
    {% endif %}
    
    
  });
</script>

<style>
 
  #header .currencies-login .cart-login-search ul li a i{
    color: {{section.settings.hd_other_color_text}};
  }  
  #header .menu ul li .nav-link{
    color: {{section.settings.hd_other_color_text}};
  }
  #header .topbar-v1 .list-icon a{
    color: {{settings.color_topbar_v6}};
  }
  .menu-language-wrap .title, .menu-currency-wrap .title{
    color: {{settings.color_topbar_v6}};
  }
</style>
{% endunless %}
{% endif %}