<div data-section-id="{{ section.id }}" data-section-type="section-teams-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}"> 
  <div class="section-teams-v2">
    <div class="container container-v1">
      <div class="text-center title_block">            
        {% if section.settings.sub_title != blank %}
        <p class="sub_title">{{section.settings.sub_title}}</p>
        {% endif %}
        {% if section.settings.section_title != blank %}
        <h3>{{section.settings.section_title}}</h3>      
        {% endif %}
        {% if section.settings.desc_content != blank %}
        <p class="desc">{{section.settings.desc_content}}</p>
        {% endif %}
      </div>
      
      <div class="slick_teams2 row">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "teams" %}
        <div class="team_wrap">
          <div class="box_teams text-center">
            <div class="img_teams">
              <a href="{{block.settings.link_people_face}}" title="">
                {% if block.settings.people_teams_image != blank %}
                <img src="{{block.settings.people_teams_image|img_url:'master'}}" class="img-fluid" alt="banner">
                {% else %}
                <img src="//via.placeholder.com/455x405" alt="" class="img-fluid">
                {%  endif %}
              </a>
              <div class="social-link">
                <a href="{% if block.settings.link_people_face != blank %}{{block.settings.link_people_face}}{% else %}#{% endif %}" tabindex="-1"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="{% if block.settings.link_people_twitter != blank %}{{block.settings.link_people_twitter}}{% else %}#{% endif %}" tabindex="-1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="{% if block.settings.link_people_instagram != blank %}{{block.settings.link_people_instagram}}{% else %}#{% endif %}" tabindex="-1"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="{% if block.settings.link_people_pinterest != blank %}{{block.settings.link_people_pinterest}}{% else %}#{% endif %}" tabindex="-1"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              </div>           
            </div>
            <div class="info_teams">
              <h4>{% if block.settings.block_people_teams != blank %}{{block.settings.block_people_teams}}{% endif %}
              </h4>
              {% if block.settings.block_position_teams != blank %}
              <p class="mb-0">{{block.settings.block_position_teams}}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function($) {

    $('.slick_teams2').slick({
      dots: false,
      arrows:false,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 4000,
      prevArrow:'<button type="button" class="prev-slide slick-arrow"><svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 17.67C7.81 17.67 7.62 17.6 7.47 17.45L0.949999 10.93C-0.110001 9.87002 -0.110001 8.13002 0.949999 7.07002L7.47 0.55002C7.76 0.26002 8.24 0.26002 8.53 0.55002C8.82 0.84002 8.82 1.32002 8.53 1.61002L2.01 8.13002C1.53 8.61002 1.53 9.39002 2.01 9.87002L8.53 16.39C8.82 16.68 8.82 17.16 8.53 17.45C8.38 17.59 8.19 17.67 8 17.67Z" fill="#292D32"/></svg></button>',
      nextArrow:'<button type="button" class="next-slide slick-arrow"><svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.909975 17.67C0.719975 17.67 0.529976 17.6 0.379976 17.45C0.0899756 17.16 0.0899756 16.68 0.379976 16.39L6.89998 9.87002C7.37998 9.39002 7.37998 8.61002 6.89998 8.13002L0.379976 1.61002C0.0899756 1.32002 0.0899756 0.84002 0.379976 0.55002C0.669976 0.26002 1.14998 0.26002 1.43998 0.55002L7.95998 7.07002C8.46998 7.58002 8.75998 8.27002 8.75998 9.00002C8.75998 9.73002 8.47998 10.42 7.95998 10.93L1.43998 17.45C1.28998 17.59 1.09998 17.67 0.909975 17.67Z" fill="#292D32"/></svg></button>', 
      {% if settings.enable_rtl_mode %}rtl: true,{% endif %}
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: false,
            arrows:false
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            arrows:false
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            arrows:false
          }
        }
      ]
    });
  })
</script>
{% schema %}
  {
    "name": "Our Team V2",
    "settings": [
		{
          "type": "header",
          "content": "Our Team"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Title section",
          "default": "Our Team"
        },
        {
          "type": "text",
          "id": "desc_content",
          "label": "Description",
          "default": "We love what we do and we do it with passion. We value the <br> experimentation of the message and smart incentives."
        },
		{
          "type": "header",
          "content": "Section Space"
        },
        {
          "type": "text",
          "id": "margin_top",
          "label": "Margin Top",
          "info": "Defined in pixels. Do not add the 'px' unit."
        },
        {
          "type": "text",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "info": "Defined in pixels. Do not add the 'px' unit."
        }
	],
    "blocks": [
        {
          "type": "teams",
          "name": "People In Teams",
          "settings": [
            {
              "type": "image_picker",
              "id": "people_teams_image",
              "label": "Image People Teams",
              "info": "455 x 405px recommended"
            },
            {
              "type": "text",
              "id": "block_people_teams",
              "label": "People Teams",
              "default": " Alex Maxwel"
            },
            {
              "type": "text",
              "id": "block_position_teams",
              "label": "Position Teams",
              "default": "CEO/ Managing Director"
            },
            {
              "type": "url",
              "id": "link_people_face",
              "label": "URL Facebook"
            },
			{
              "type": "url",
              "id": "link_people_twitter",
              "label": "URL Twitter"
            },
			{
              "type": "url",
              "id": "link_people_instagram",
              "label": "URL Instagram"
            },
			{
              "type": "url",
              "id": "link_people_pinterest",
              "label": "URL Pinterest"
            }
          ]
        }        
      ],
	  "presets": [
        {
          "name": "Our Team V2",
          "category": "HOME",
		  "blocks": [
            {
              "type": "teams",
              "settings": {
              }
            },
            {
              "type": "teams",
              "settings": {
              }
            },
            {
              "type": "teams",
              "settings": {
              }
            },
            {
              "type": "teams",
              "settings": {
              }
            }
          ]
        }
      ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
