<div data-section-id="{{ section.id }}" data-section-type="section-banner-v8" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v8">
    <div class="container container-v2">
      <div class="row">        
        <div class="col-md-7 banner1">
          <div class="banner-item">
            <div class="box-img">
              <img data-src="{% if section.settings.img_banner1 != blank %} {{section.settings.img_banner1 | img_url:'master'}} {% else %} //via.placeholder.com/819x412 {% endif %}" class="lazyload img-fluid w-100" alt="_img_banner">
            </div>
            <div class="banner-content">
              <div class="info">
                {% if section.settings.sub_title1 != blank %}
                <div class="sub_top_12">{{section.settings.sub_title1}}</div>
                {% endif %}
                {% if section.settings.title_banner1 != blank %}
                <h3 class="title-banner">{{section.settings.title_banner1}}</h3>
                {% endif %}
                {% if section.settings.content_banner1 != blank %}
                <div class="desc">{{section.settings.content_banner1}}</div>
                {% endif %}
                {% if section.settings.btn_banner1 != blank %}
                <a href="{{section.settings.url_banner1}}" class="button-main2">{{section.settings.btn_banner1}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 banner2">
          <div class="banner-item">
            <div class="box-img">
              <img data-src="{% if section.settings.img_banner2 != blank %} {{section.settings.img_banner2 | img_url:'master'}} {% else %} //via.placeholder.com/575x412 {% endif %}" class="lazyload img-fluid w-100" alt="_img_banner">
            </div>
            <div class="banner-content">
              <div class="info">
                {% if section.settings.sub_title2 != blank %}
                <div class="sub_top_12">{{section.settings.sub_title2}}</div>
                {% endif %}
                {% if section.settings.title_banner2 != blank %}
                <h3 class="title-banner">{{section.settings.title_banner2}}</h3>
                {% endif %}
                {% if section.settings.content_banner2 != blank %}
                <div class="desc">{{section.settings.content_banner2}}</div>
                {% endif %}
                {% if section.settings.btn_banner2 != blank %}
                <a href="{{section.settings.url_banner2}}" class="button-main2">{{section.settings.btn_banner2}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "BANNER V8",
  "settings": [
    {
      "type": "header",
      "content": "Setting Banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
      "info": "819 x 412px recommended"
    },
    {
      "type": "text",
      "id": "sub_title1",
      "label": "Sub Title",
      "default": "New arrival"
    },
    {
      "type": "text",
      "id": "title_banner1",
      "label": "Title",
      "default": "Apples Braeburn"
    },
	{
      "type": "text",
      "id": "content_banner1",
      "label": "Description",
      "default": "When conditions are right there <br> is no doubt that Braeburn"
    },
    {
      "type": "text",
      "id": "btn_banner1",
      "label": "Button Label",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_banner1",
      "label": "URL banner 1",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Setting banner 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner2",
      "label": "Image",
      "info": "575 x 412px recommended"
    },
    {
      "type": "text",
      "id": "sub_title2",
      "label": "Sub Title",
      "default": "New arrival"
    },
    {
      "type": "text",
      "id": "title_banner2",
      "label": "Title",
      "default": "Home Set Boxes"
    },
	{
      "type": "text",
      "id": "content_banner2",
      "label": "Description",
      "default": "Fresh produce delivered <br> straight to your door"
    },
    {
      "type": "text",
      "id": "btn_banner2",
      "label": "Button Label",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_banner2",
      "label": "URL banner 2",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "BANNER V8",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}