<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% for block in section.blocks %}
{% if block.type == "slideshow" %}
  {% if block.settings.fonts_sub_1 !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_sub_1}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_sub_2 !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_sub_2}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_button !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_button}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_title_top !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_title_top}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
{% endif %}
{% endfor %}

<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v1 ">
    <div class="slick-side-h1">       
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == "slideshow" %}
      <div class="itemv-slide-h1">
        <div class=" info-sideh1">
          <div class="picture-slideshow">
            <div class="d-none d-md-block">
              {% if block.settings.ena_slide_video %}
              {% if block.settings.url_ytb_video != blank %}
              <div class="over_slidevid"></div>
              {{block.settings.url_ytb_video}}
              {% endif %}
              {% else %}
              {% if block.settings.block_banerimage != blank %}
                <img data-src="{{block.settings.block_banerimage | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide_">
              {% else %}
                <img data-src="//via.placeholder.com/1920x900" class="lazyload img-fluid w-100" alt="_img_slide_">
              {% endif %}
              {% endif %}
            </div>
            <div class="d-block d-md-none">
              {% if block.settings.block_banerimage_mb != blank %}
                <img data-src="{{block.settings.block_banerimage_mb | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide_">
              {% else %}
                <img data-src="{{block.settings.block_banerimage | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide_">
              {% endif %}
            </div>
          </div>
          <div class="{% if block.settings.select_position_content == 'left' %} box-content  {% elsif block.settings.select_position_content == 'center' %} box-content-center  {% elsif block.settings.select_position_content == 'right' %} box-content-right {% endif %} " >
            {% if block.settings.block_title_top and block.settings.block_title_top2 and block.settings.block_buton != blank %}
            <div class="{% if block.settings.select_textalign_content == 'left' %} text-left {% elsif block.settings.select_textalign_content == 'center' %} text-center {% else %} text-right {% endif %}box-info box-info-{{block.id}}">
              <div class="box-title1 box-title1-{{block.id}}  animated">
                {% if block.settings.block_title_top1 != blank %}
                <h3 class="title-small mb-0">{{ block.settings.block_title_top1 }}</h3>
                {% endif %}
              </div>
              <div class="box-title box-title-{{block.id}} animated">
                {% if block.settings.block_title_top != blank %}
                <h3 class="titlebig mb-0">{{ block.settings.block_title_top }}</h3>
                {% endif %} 
              </div>
              <div class="box-title2 box-title2-{{block.id}}  animated">
                {% if block.settings.block_title_top2 != blank %}
                <h3 class="title-small mb-0">{{ block.settings.block_title_top2 }}</h3>
                {% endif %}
              </div>
              {% if block.settings.block_buton != blank %}
              <div class="btn-animation-{{block.id}} animated">
                <a class="button-main2 button-shop-{{block.id}}  " href="{{block.settings.block_url}}">
                  {{ block.settings.block_buton }}
                </a>
              </div>
              {% endif %}      
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == "slideshow" %}
  .section-slideshow-v1 .slick-active .info-sideh1 .box-content-center .button-shop-{{block.id}}:hover{
    background : {{block.settings.color_hover_button}} !important;
    color : {{block.settings.color_hover_text}} !important;
  }
  .section-slideshow-v1 .slick-active .info-sideh1 .box-content .button-shop-{{block.id}}:hover{
    background : {{block.settings.color_hover_button}} !important;
    color : {{block.settings.color_hover_text}} !important;
  }
  .section-slideshow-v1 .slick-active .info-sideh1 .box-content-right .button-shop-{{block.id}}:hover{
    background : {{block.settings.color_hover_button}} !important;
    color : {{block.settings.color_hover_text}} !important;
  }
  .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title-{{block.id}}{   
    -webkit-animation-name: {{block.settings.effect_title}};
    animation-name:  {{block.settings.effect_title}};
  }
  
  .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title1-{{block.id}}{    
    -webkit-animation-name: {{block.settings.effect_title1}};
    animation-name:  {{block.settings.effect_title1}}; 
  }
  
  .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title2-{{block.id}}{    
    -webkit-animation-name: {{block.settings.effect_title2}};
    animation-name:  {{block.settings.effect_title2}}; 
  }
 
  .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .btn-animation-{{block.id}}{   
    -webkit-animation-name: {{block.settings.effect_title3}};
    animation-name:  {{block.settings.effect_title3}}; 
  }
  
  .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title-{{block.id}} .titlebig{   
      color:{{block.settings.color_block_title_top}};
      {% if block.settings.fonts_title_top != blank %}
      font-family: '{{block.settings.fonts_title_top}}';
        {% endif %}
    }
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title1-{{block.id}} .title-small{    
      color:{{block.settings.color_block_title_top1}};
      {% if block.settings.fonts_sub_1 != blank %}
      font-family: '{{block.settings.fonts_sub_1}}';
        {% endif %}
    }
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title2-{{block.id}} .title-small{   
      color:{{block.settings.color_block_title_top2}};
      {% if block.settings.fonts_sub_2 != blank %}
      font-family: '{{block.settings.fonts_sub_2}}';
        {% endif %}    
    }
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .btn-animation-{{block.id}} .button-main2{   
      color:{{block.settings.color_block_button}};
      background : {{block.settings.bg_button}};
      {% if block.settings.fonts_button != blank %}
      font-family: '{{block.settings.fonts_button}}';
        {% endif %}
    }
  
  
  
  @media(min-width:1900px){
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title-{{block.id}} .titlebig{   
      font-size:{{block.settings.font_size_title_top}}px;
    }
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title1-{{block.id}} .title-small{    
      font-size:{{block.settings.font_size_top1}}px;
    }
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .box-title2-{{block.id}} .title-small{   
      font-size:{{block.settings.font_size_top2}}px; 
    }
    .section-slideshow-v1 .slick-active .info-sideh1 .box-info-{{block.id}} .btn-animation-{{block.id}} .button-main2{   
      font-size:{{block.settings.font_size_button}}px;
    }
  }
  
  
  {% endif %}
  {% endfor %}
  {% endif %}
</style>

{% schema %}
{
  "name": "SLIDESHOW",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "Slideshow",
      "settings": [
        {
          "type": "header",
          "content": "Position Content"
        },
        {
          "type": "select",
          "id": "select_position_content",
          "label": "Choose The Position Content",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "select_textalign_content",
          "label": "Text Align Content",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
        "type": "header",
        "content": "Subheading Slideshow 1"
        },
        {
          "type": "text",
          "id": "block_title_top1",
          "label": "Subheading"
        },
        {
          "type": "color",
          "id": "color_block_title_top1",
          "label": "Color",
          "default": "#000"
        },
		{
          "type": "range",
          "id": "font_size_top1",
          "min": 14,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 14
        },
		{
          "type": "text",
          "id": "fonts_sub_1",
          "label": "Fonts Family"
        },
        {
          "type": "select",
          "id": "effect_title1",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
		{
          "type": "header",
          "content": "Heading Slideshow"
        },
        {
          "type": "text",
          "id": "block_title_top",
          "label": "Heading",
          "default": "Natural food for <br> your health."
        },
        {
          "type": "color",
          "id": "color_block_title_top",
          "label": "Color",
          "default": "#30343A"
        },
		{
          "type": "range",
          "id": "font_size_title_top",
          "min": 50,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 60
        },
		{
          "type": "text",
          "id": "fonts_title_top",
          "label": "Fonts Family",
		  "default": "Lato"
        },
        {
          "type": "select",
          "id": "effect_title",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
		{
          "type": "header",
          "content": "Subheading Slideshow 2"
        },
        {
          "type": "text",
          "id": "block_title_top2",
          "label": "Subheading",
          "default": "Packed in a facility that handles tree nuts and sesame seeds."
        },
        {
          "type": "color",
          "id": "color_block_title_top2",
          "label": "Color",
          "default": "#6D7178"
        },
		{
          "type": "range",
          "id": "font_size_top2",
          "min": 16,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 16
        },
		{
          "type": "text",
          "id": "fonts_sub_2",
          "label": "Fonts Family"
        },
        {
          "type": "select",
          "id": "effect_title2",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button Slideshow"
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button Label",
          "default": "Shop now"
        },
		{
          "type": "color",
          "id": "bg_button",
          "label": "Background Hover Color",
          "default": "#cea384"
        },
        {
          "type": "color",
          "id": "color_block_button",
          "label": "Color",
          "default": "#fff"
        },
		{
          "type": "range",
          "id": "font_size_button",
          "min": 12,
          "max": 16,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 13
        },
		{
          "type": "text",
          "id": "fonts_button",
          "label": "Fonts Family"
        },
        {
          "type": "color",
          "id": "color_hover_button",
          "label": "Background Hover Color",
          "default": "#2E610D"
        },
        {
          "type": "color",
          "id": "color_hover_text",
          "label": "Text Hover Color",
          "default": "#fff"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL Button",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "effect_title3",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
        {
          "type": "header",
          "content": "Image or Video Slideshow"
        },
        {
          "type": "checkbox",
          "id": "ena_slide_video",
          "label": "Enable Slide Video"
        },
        {
          "type": "textarea",
          "id": "url_ytb_video",
          "label": "Iframe Youtube Or Vimeo Video"
        },
        {
          "type": "image_picker",
          "id": "block_banerimage",
          "label": "Image On Desktop",
          "info": "1920 x 900px recommended"
        },
        {
          "type": "image_picker",
          "id": "block_banerimage_mb",
          "label": "Image On Mobile",
          "info": " 500x 600px recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW",
      "category": "HOME",
      "blocks": [
        {
          "type": "slideshow",
          "settings": {
          }
        },
        {
          "type": "slideshow",
          "settings": {
          }
        },
        {
          "type": "slideshow",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
